html {
    background-color: #fff8fb;
    font-family: 'Zen Maru Gothic', sans-serif;
  }
body {
    width: 700px;
    margin: 50px auto;
    border: 3px solid #ffb2c9;
    padding: 0px 50px 50px 50px;
    background-color: rgb(253, 226, 234);
}

#layout{ overflow:hidden ;}

#layout_main{
    width: 450px;
    overflow:hidden ;
    background-color:#ffffff77;
    padding: 10px;
    float:left;
}

#layout_aside{
    width: 200px;
    overflow:hidden ;
    float:right;
}

.aside1{
    border: 5px dotted #ffb2c96e;
    background-color:#ffffff77;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/*
.aside{
    overflow:hidden ;
    border: 5px dotted #ffb2c96e;
    background-color:#ffffff77;
    padding: 10px;
    float:right;
}
*/
h1,h2,p,a{
    text-align: center;
}

h1  {
    color:rgb(255, 190, 225);
    font-size: 4.5rem;
    letter-spacing:25px;
    line-height: 130px;
    text-shadow: 5px 5px 0px rgb(255, 255, 255);
    background-color:#ffffff77;
}

h2{
    color:rgb(255, 190, 225);
    font-size: 1.5rem;
    letter-spacing:5px;
}

img {
    margin: 30px auto;
    display: block;
    background-color:#ffffff77;
}

.circleimg{
    border-radius: 78px;
    border:1.5px solid #ffb2c9;
    padding: 3px;
}

p{
    color:rgb(247, 102, 150);
    line-height: 30px;
    font-size: 1rem;
    letter-spacing:3px;
}

.notcenter{
    text-align: left;
}

a{
    color:rgb(247, 102, 150);
    text-decoration:none;
}
a:hover{text-decoration:underline;}

.line{
    margin: auto;
    border: 0;
    height: 1.5px;
    width: 350px;
    background: #ff96be;
}

.small{
    line-height: 1px;
    font-size: 5px;
}

#l{
    width: 300px;
    padding: 5px;
    margin: 15px auto;
    display: block;
    color:rgb(247, 102, 150);
    border: 2px solid #ffb2c9;
    background-color:#ffffffc2;
}

.sidelink{
    width: 100px;
    color:rgb(247, 102, 150);
    line-height: 30px;
}

ul {
    color:rgb(247, 102, 150);
    line-height: 30px;
    padding-left: 20px;
    list-style-type: circle;
}

#J{ list-style-type: "💙";}
#D{ list-style-type: "❤️";}
#O{ list-style-type: "💚";}
#K{ list-style-type: "💜";}
#R{ list-style-type: "🧡";}
#S{ list-style-type: "💖";}
#N{ list-style-type: "💛";}

video{
    height:8cm;
    margin: 30px auto;
    display: block;
}

iframe{
    display: block;
    margin: auto;
}

audio{
    width: 500px;
    margin: 30px auto;
    display: block;
}

table {
    border-collapse: collapse;
    border: 2px solid #ffb2c9;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: rgb(247, 102, 150);
    margin: auto;
  }
  
  td, th {
    border: 1px solid #ffb2c9;
    padding: 10px 20px;
  }
  
  th,tr:nth-child(1){
    background-color: #ffb2c944;
  }
  
  td {
    text-align: center;
  }
  
  caption {
    padding: 10px;
    font-size: 15px;
  }
